*.class

# Package Files #
*.jar
*.war
*.ear

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

*.iml
.idea
.gradle
.gradletasknamecache
.classpath
.project
.settings
hs_err_pid* # virtual machine crash logs

bin/
build/
/out/

*.ipr
*.iws
